*{
    box-sizing: border-box;
}

body 
{
     background-color: #0B2434;
     padding: 50px;
     margin:0;
   
 }
 main{
     /* position: absolute; */
     max-width: 800px;
max-height: 1100px;
/* left: 20px;
top: 30px; */
background: #F5F5F5;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
     
 }
.dice-container{
    /* position: relative;
     max-width: 100px;
max-height: 100px; */
padding-left: 50px;
align-items: center;
display: grid; 
grid-template-columns: repeat(5, 1fr);
gap: 10px;
}

.box{
    /* position: absolute; */
     max-width: 800px;
max-height: 1100px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #0000;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
border-radius: 3.81277px;
box-shadow: 3px 3px 3px 3px #8888;
width:100px;
height: 100px;
/* align-content: center;
align-items: center;
align-self: center; */
padding:10px;
margin:20px;
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
cursor: pointer;

/* position: absolute; */
left: 40.43%;
right: 40.43%;
top: 17.86%;
bottom: 27.43%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.5889px;
line-height: 24px;
text-align: center;

color: #2B283A;

}

.main-heading{
/* position: absolute; */
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 25.6px;
line-height: 30px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
letter-spacing: -0.03em;

color: #2B283A;
}
.main-text{
    /* position: absolute; */
left: 0%;
right: 0%;
top: -28.7%;
bottom: -24.36%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.1072px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
justify-content: center;

color: #4A4E74;

}

.button{
    /* position: absolute; */
/* left: 50%;
right: 50%;
top: 0%;
bottom: 0%; */

background: #5035FF;
box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
border-radius: 3.81277px;

height: 35.84000015258789px;
width: 92.15999603271484px;
/* left: 50px;
top: 0px; */
border-radius: 3.8127658367156982px;
/* 
  top: 50%;
  left: 50%; */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
align-items: center;
text-align: center;
justify-content: space-around;

}
.button-text{
    /* position: absolute; */
left: 50.92%;
right: 22.92%;
top: 16.07%;
bottom: 17.86%;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 16.384px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
/* display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
justify-content: center; */


color: #FFFFFF;
cursor: pointer;

}

.button:active{
    background-color: violet;
}

.button-div{
    display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
justify-content: center;
padding: 50px;
}

.game-won{
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.03em;
justify-content: center;
padding: 50px;
color: white;
background-color: red;
padding: 20px;
margin: 20px;
font-family:Arial, Helvetica, sans-serif;
font-size: 70px;
font-weight: 100px;
position: relative; top: -65px;
}